In [1]:
import pandas as pd

In [2]:
cls = pd.read_csv('./submissions/cnn-v3-type.csv')
reg = pd.read_csv('./submissions/cnn-v4-nrj.csv')

In [3]:
cls

                                             id  classification_predictions
0      0002894871bb30af2670648c58b2506e9801a321                           0
1      000a95ca23df016a149ff9af94b6e9d8633d6691                           1
2      000b4407dee7dad2ba46586e6ba1264f45965e51                           1
3      000c45d729066044e3dd3f885fddf013b845b6d7                           0
4      0011f80e44faa713714ead6aeab3b2f9db54aebd                           1
...                                         ...                         ...
16559  ff343a62752061d995f94ebc10ac53f79d1b5ab1                           0
16560  ff897755cb312cd6f510ba7a38cb293e648d97d5                           0
16561  ff9a93402457ac514cd069a7ce3f2e32692f5290                           1
16562  ffedc12ec5c142dae2086408b778cf0db2ff944e                           0
16563  fffdd654bd60b81ffd51a723a8839b8f5381feba                           1

[16564 rows x 2 columns]

In [4]:
cls['classification_predictions'] = cls.classification_predictions.replace({0: 1, 1:0})
cls['regression_predictions'] = reg['regression_predictions']
cls.to_csv('./submissions/cnn-v3p5.csv', index=False, header=True)