In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
X = [[1, 1, 2], [2, 2, 3], [3, 3, 4], [4, 4, 5]]
sub_all = pd.DataFrame(X, columns=['A', 'B', 'C'])
sub_all.head()

   A  B  C
0  1  1  2
1  2  2  3
2  3  3  4
3  4  4  5

In [6]:
conv_six = {0: 1, 1: 3, 2: 6, 3: 10, 4: 20, 5: 30}
XX = np.array([1, 2, 2, 3])
y = list(map(lambda x: conv_six[x], XX))

In [11]:
xx = [[3], [6]]
xxx = np.stack(xx, axis=1)
xxx[0]

array([3, 6])

In [4]:
sub_all = pd.DataFrame(X, columns=['A', 'B', 'C'])
sub_all['D'] = sub_all.mode(axis=1)[0]
sub_all.head()

   A  B  C  D
0  1  1  2  1
1  2  2  3  2
2  3  3  4  3
3  4  4  5  4