In [1]:
import pandas as pd

In [2]:
scn_cls = pd.read_csv('./SCNc2.csv')
scn_reg = pd.read_csv('./SCNc6.csv')
cnn_cls = pd.read_csv('./CNNc2.csv')
cnn_reg = pd.read_csv('./CNNc6.csv')

### CNN modes

In [5]:
cnn_modes = pd.DataFrame()
cnn_modes['id'] = cnn_cls['id']
cnn_modes['classification_predictions'] = cnn_cls.mode(axis=1, numeric_only=True)[0]
cnn_modes['regression_predictions'] = cnn_reg.mode(axis=1, numeric_only=True)[0]
cnn_modes.to_csv('CNN_modes.csv', index=False, header=True)
cnn_modes.head()

,id,classification_predictions,regression_predictions
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,1,3.0
1,0005564c011259402dcb6e3beb6e64d285124fa0,1,30.0
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,0,30.0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,0,1.0
4,000eb12def5371089743dcfe401a8e399f5883fc,0,30.0

### SCN modes

In [6]:
scn_modes = pd.DataFrame()
scn_modes['id'] = cnn_cls['id']
scn_modes['classification_predictions'] = scn_cls.mode(axis=1, numeric_only=True)[0]
scn_modes['regression_predictions'] = scn_reg.mode(axis=1, numeric_only=True)[0]
scn_modes.to_csv('SCN_modes.csv', index=False, header=True)
scn_modes.head()

,id,classification_predictions,regression_predictions
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,1.0,10.0
1,0005564c011259402dcb6e3beb6e64d285124fa0,1.0,30.0
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,0.0,20.0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,0.0,1.0
4,000eb12def5371089743dcfe401a8e399f5883fc,0.0,20.0

### All modes

In [17]:
all_cls = pd.concat([scn_cls, cnn_cls.drop(columns='id')], axis=1)
all_reg = pd.concat([scn_reg, cnn_reg.drop(columns='id')], axis=1)

In [18]:
all_modes = pd.DataFrame()
all_modes['id'] = all_cls['id']
all_modes['classification_predictions'] = all_cls.mode(axis=1, numeric_only=True)[0]
all_modes['regression_predictions'] = all_reg.mode(axis=1, numeric_only=True)[0]
all_modes.to_csv('all_modes.csv', index=False, header=True)
all_modes.head()

,id,classification_predictions,regression_predictions
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,1,10.0
1,0005564c011259402dcb6e3beb6e64d285124fa0,1,30.0
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,0,30.0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,0,1.0
4,000eb12def5371089743dcfe401a8e399f5883fc,0,20.0