In [1]:
import pandas as pd

In [2]:
cls = pd.read_csv('./SCNc2.csv')
reg = pd.read_csv('./SCNc6.csv')

In [3]:
cls

,id,SCNc2-0,SCNc2-1,SCNc2-2,SCNc2-3,SCNc2-4,SCNc2-5,SCNc2-6,SCNc2-7
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,1,1,1,1,1,1,1,1
1,0005564c011259402dcb6e3beb6e64d285124fa0,1,1,1,1,1,1,1,1
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,0,0,0,0,0,0,0,0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,0,0,0,0,0,0,0,0
4,000eb12def5371089743dcfe401a8e399f5883fc,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
16555,ff343a62752061d995f94ebc10ac53f79d1b5ab1,1,1,1,1,1,1,1,1
16556,ff897755cb312cd6f510ba7a38cb293e648d97d5,1,1,1,1,1,1,1,1
16557,ff9a93402457ac514cd069a7ce3f2e32692f5290,0,0,0,0,0,0,0,0
16558,ffedc12ec5c142dae2086408b778cf0db2ff944e,1,1,1,1,1,1,1,1
16559,fffdd654bd60b81ffd51a723a8839b8f5381feba,0,0,0,0,0,0,0,0

In [6]:
reg

,id,SCNc6-0,SCNc6-1,SCNc6-2,SCNc6-3,SCNc6-4,SCNc6-5,SCNc6-6,SCNc6-7
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0
1,0005564c011259402dcb6e3beb6e64d285124fa0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,20.0,20.0,20.0,30.0,20.0,20.0,20.0,20.0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,000eb12def5371089743dcfe401a8e399f5883fc,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
...,...,...,...,...,...,...,...,...,...
16555,ff343a62752061d995f94ebc10ac53f79d1b5ab1,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
16556,ff897755cb312cd6f510ba7a38cb293e648d97d5,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
16557,ff9a93402457ac514cd069a7ce3f2e32692f5290,20.0,20.0,20.0,20.0,20.0,20.0,20.0,20.0
16558,ffedc12ec5c142dae2086408b778cf0db2ff944e,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
16559,fffdd654bd60b81ffd51a723a8839b8f5381feba,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [7]:
modes = pd.DataFrame()
modes['id'] = cls['id']

In [17]:
modes['classification_predictions'] = cls.mode(axis=1, numeric_only=True)[0]
modes['regression_predictions'] = reg.mode(axis=1, numeric_only=True)[0]
modes

,id,classification_predictions,regression_predictions
0,00013a94f1fae3e5a33f8b44c2842c85f0483e96,1.0,10.0
1,0005564c011259402dcb6e3beb6e64d285124fa0,1.0,30.0
2,0007520c8d8efade8feaafbf74fc7d206cdf229d,0.0,20.0
3,000804a189f630cd980ff1543c0ef99d48cd6b34,0.0,1.0
4,000eb12def5371089743dcfe401a8e399f5883fc,0.0,20.0
...,...,...,...
16555,ff343a62752061d995f94ebc10ac53f79d1b5ab1,1.0,3.0
16556,ff897755cb312cd6f510ba7a38cb293e648d97d5,1.0,3.0
16557,ff9a93402457ac514cd069a7ce3f2e32692f5290,0.0,20.0
16558,ffedc12ec5c142dae2086408b778cf0db2ff944e,1.0,3.0
16559,fffdd654bd60b81ffd51a723a8839b8f5381feba,0.0,1.0

In [18]:
modes.to_csv('SCN_modes.csv', index=False, header=True)